* {
    margin: 0;
    padding: 0;

    --hover-azul-blue: #016FB9;
    --warning-flame : #EC4E20;
    --bg-powder :#FDFFFC;
    --heading-xanthous : #F7B32B;
    --text-black: #0C120C;
}

body {
    background-color: var(--bg-powder);
    color: var(--text-black);
}

.navigation {
  display: flex;
  margin: 3rem;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  list-style-type: none;
}

.centered-space-around {
  align-items: center;
  justify-content: space-around;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

.projects h2 {
  text-align: center;
}

.projects-container {
  display:grid;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .projects-container {
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .8rem;
  }

  .projects img {
    width: 300px;
    height: 300px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .projects-container {
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .8rem;
  }

  .projects img {
    width: 300px;
    height: 300px;
  }


}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px){
  /* CSS */

  .projects-container {
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .8rem;
  }

  .projects img {
    width: 250px;
    height: 250px;
  }


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */

  .projects-container {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8rem;
  }

  .projects img {
    width: 250px;
    height: 250px;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width:320px) and (max-width: 480px) {
  
  /* CSS */
  .projects-container {
    justify-items: center;
  }

  .projects img {
    width: 300px;
    height: 30ß0px;
  }
}