* {
    margin: 0;
    padding: 0;

    --hover-azul-blue: #016FB9;
    --warning-flame : #EC4E20;
    --bg-powder :#FDFFFC;
    --heading-xanthous : #F7B32B;
    --text-black: #0C120C;

    --alegreya-font: 'Alegreya', serif;
    --oswald-font: 'Oswald', sans-serif;
}

.text-align-center {
  text-align: center;
}

h1, h2 {
  text-decoration: underline;
  color: var(--heading-xanthous);
}

h1, h2, h3 {
  font-family: var(--oswald-font);
}
p,li, small {
  font-family: var(--alegreya-font);
}
body {
    background-color: var(--bg-powder);
    color: var(--text-black);
}

.navigation {
  display: flex;
  margin: 1rem 0 8rem 0;
  align-items: center;
  justify-content: space-between;
}

.navigation ul {
  display: flex;
  margin: 0;
}

.navigation ul li {
  list-style-type: none;
  margin-left: 2rem;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--warning-flame);
}

.navigation ul li a:hover {
  color: var(--hover-azul-blue);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.main {
  margin: 2rem 0;
}

.resume-container {
  max-width: 1000px;
  margin: 0 auto;
}

.main h1, p, ul{
  margin-bottom: 1.5rem;
  max-width: 120ch;
}

.main h3 {
  margin: 1.5rem 0 0.5rem 0;
}

.main p {
  font-size:larger;
  color: var(--hover-azul-blue);
}

.main li {
  margin-top: .8rem;
}

.projects-container {
  display:grid;
}

.projects h2 {
  margin: 5rem 0;
}

.footer a {
  color: var(--warning-flame);
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .projects-container {
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .8rem;
  }

  .projects img {
    width: 300px;
    height: 300px;
  }

  .resume-container li {
    font-size: 1.8rem;
  }

  .navigation ul li a {
    font-size: 1.8rem;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .projects-container {
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .8rem;
  }

  .projects img {
    width: 300px;
    height: 300px;
  }

  .resume-container li {
    font-size: 1.8rem;
  }

  .navigation ul li a {
    font-size: 1.8rem;
  }


}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px){
  /* CSS */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .projects-container {
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .8rem;
  }

  .projects img {
    width: 250px;
    height: 250px;
  }

  .resume-container li {
    font-size: 1.5rem;
  }

  .navigation ul li a {
    font-size: 1.8rem;
  }


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
}

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .projects-container {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .8rem;
  }

  .projects img {
    width: 250px;
    height: 250px;
  }

  .resume-container li {
    font-size: 1.5rem;
  }

  .navigation ul li a {
    font-size: 1.2rem;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width:0px) and (max-width: 480px) {
  
  /* CSS */
  h1 {
    font-size:3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .projects-container {
    justify-items: center;
  }

  .projects img {
    width: 300px;
    height: 300px;
  }

  .resume-container li {
    font-size: 1.5rem;
  }

  .navigation ul li a {
    text-decoration: none;
    font-size: 1.2rem;
  }
}