* {
    margin: 0;
    padding: 0;

    --hover-azul-blue: #016FB9;
    --warning-flame : #EC4E20;
    --bg-powder :#FDFFFC;
    --heading-xanthous : #F7B32B;
    --text-Black: #0C120C;
}

body {
    background-color: var(--bg-powder);
}

.container {
  display: grid;
}

.projects-container img {
  width: 382px;
  height: 504px;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */

  .bg-logo{
    display: block; 
  }

  .sm-logo{
    display: none;
  }
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */

  .bg-logo{
    display: block; 
  }

  .sm-logo{
    display: none;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .bg-logo{
    display: block; 
  }

  .sm-logo{
    display: none;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  .bg-logo{
    display: block; 
  }

  .sm-logo{
    display: none;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  .bg-logo{
    display: block; 
  }

  .sm-logo{
    display: none;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 0px) and (max-width: 480px) {
  
  /* CSS */

  body {
    background-color: #0C120C;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .bg-logo{
    display: none; 
  }

  .sm-logo{
    display: block;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 1rem;
  }

  .projects-container img {
    border-radius: .5rem;
  }
}